*{
    padding: 0;
    margin: 0;
}

body,
.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #eeeeee;
}

.navbar{
    /* width: 100%; */
    /* height: fit-content; */
    height: 5vh;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1.9px 1.8px rgba(0, 0, 0, 0.04), 0px 6.5px 6px rgba(0, 0, 0, 0.06), 0px 29px 27px rgba(0, 0, 0, 0.1);
}

.navbar a{
    text-decoration: none;
    color: #000;
}

.navbar .logo{
    color: #2b86f7;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .nav-list{
    display: inline-flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar .nav-list a:hover{
    color: #2b86f7;
}

.hamburger-menu{
    display: none;
}

.hamburger-menu img{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.hamburger-menu img:hover{
    background-color: #eeeeee;
}

.landing-section{
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/images/wave.png');
    background-repeat: no-repeat;
    background-size: 100% 102%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-section .main-text{
    color: #fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.landing-section .main-text h4{
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid #2b86f7;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: #2b86f7;
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.container {
    position: relative;
}

.menu {
    background-color: #fff;
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    width: 80%;
    transform: translateX(100%);
}

.close-menu {
    animation-name: slide-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.open-menu {
    animation-name: slide-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slide-in{
    from {transform: translateX(100%); width: 0px;}
    to {transform: translateX(0); width: 80%;}
}

@keyframes slide-out{
    from {transform: translateX(0); width: 80%;}
    to {transform: translateX(100%); width: 0;}
}

.menu ul {
    list-style: none;
    padding: 20px;
}

.menu ul li {
    margin-bottom: 25px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #2b86f7;
}

@media only screen and (max-width: 640px) {
    .navbar .nav-list{
        display: none;
    }
    
    .hamburger-menu{
        display: block;
    }
}